.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar navbar"
    "content content content"
    "footer footer footer";
}

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 26px;
  width: 100%;
  margin: 50px 0;
}

.aboutTitle {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 20px;
  color: var(--black-color);
  margin-bottom: 1rem;
}

.aboutSubtitle {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 16px;
  color: var(--subtitle-text-color);
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin-bottom: 50px;
}

.differentialsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.navbarArea {
  grid-area: navbar;
}

.contentArea {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footerArea {
  grid-area: footer;
}

.realStateSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 26px;
  background-color: var(--white-color);
  margin-bottom: 50px;
}

.realStateTitle {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 20px;
  color: var(--black-color);
  margin-bottom: 10px;
}

.realStateSubtitle {
  font-family: var(--font-sans);
  font-size: 16px;
  color: var(--subtitle-text-color);
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin-bottom: 32px;
}

.realStateList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}

.realStateButton {
  max-width: 400px;
  height: 60px;
}

/* Media Queries */

/* Tablet */

@media (max-width: 1024px) {
  .container {
    grid-template-areas:
      "navbar navbar"
      "content content"
      "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }

  .realStateList {
    grid-template-columns: repeat(2, 1fr);
  }

  .differentialsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "navbar"
      "content"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .differentialsList {
    grid-template-columns: 1fr;
  }

  .realStateList {
    grid-template-columns: 1fr;
  }
}